.auth-card {
  max-width: 950px;
  width: 100%;
  border-radius: 28px !important;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

.card-left {
  background-image: url("../../assets/bg-icons-confetti.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
